{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>RetourEvent index</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Categorie d'évènement</th>
                <th>Date</th>
                <th>Description</th>
                <th>Nbre d'inscrits</th>
                <th>Nbre présents</th>
                <th>Nbre startup</th>
                <th>Nbre partenaire</th>
                <th>Nbre externes</th>
                <th>Nbre pme</th>
                <th>Nbre porteur_projet</th>
                <th>Résultats</th>
                <th>Liens formulaires</th>
                <th>Suggestion</th>
                <th>Taux satisfaction</th>
                <th>Origine participation</th>
                <th>Nbre mail invitation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for retour_event in retour_events %}
            <tr>
                <td>{{ retour_event.categorieEvenement }}</td>
                <td>{{ retour_event.dateEvenement ? retour_event.dateEvenement|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ retour_event.explicationEvenement }}</td>
                <td>{{ retour_event.nbreInscritsEvenement }}</td>
                <td>{{ retour_event.presentsEvenement }}</td>
                <td>{{ retour_event.nbreStartupEvenement }}</td>
                <td>{{ retour_event.nbrePartenaireEvenement }}</td>
                <td>{{ retour_event.nbreExternesEvenement }}</td>
                <td>{{ retour_event.nbrePmeEvenement }}</td>
                <td>{{ retour_event.nbrePorteurProjetEvenement }}</td>
                <td>{{ retour_event.resultatEvenement }}</td>
                <td>{{ retour_event.liensFormulairesEvenement }}</td>
                <td>{{ retour_event.suggestionEvenement }}</td>
                <td>{{ retour_event.tauxSatisfactionEvenement }}</td>
                <td>{{ retour_event.origineParticipationEvenement }}</td>
                <td>{{ retour_event.nbreMailInvitationEvenement }}</td>
                <td>
                    <a href="{{ path('retour_event_show', {'id': retour_event.id}) }}">show</a>
                    <a href="{{ path('retour_event_edit', {'id': retour_event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="19">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('retour_event_new') }}">Créer un nouveau reporting</a>
    </div>
{% endblock %}
